<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="network" src="{{ "/assets/img/network.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Multiplex Stocks Network </h3>
    <ul>
      <li> Network Analysis of S&P500 stocks</li>
    </ul>
    <p>The aim of this work is to analyze dependencies and correlations between S&P500 stocks using a multiplex approach. To do so I considered different types of correlations (Pearson, Kendall and Spearman) between historical prices of stocks.</p>
    <a class="project-link" href="https://github.com/ngozzi/multiplex">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="reddit" src="{{ "/assets/img/reddit.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Predict Gender of Reddit Users </h3>
    <ul>
      <li> Text Analysis of social network messages </li>
    </ul>
    <p>As part of the course of Machine Learning of my university I took part to a Kaggle competition whose goal was to predict gender of Reddit users given large amount of messages posted by them.</p>
    <a class="project-link" href="https://github.com/ngozzi/reddit">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="vix" src="{{ "/assets/img/vix.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Manipulation in a Simple Market</h3>
    <ul>
      <li>Agent-based simulation of the stock market</li>
    </ul>
    <p>The aim of this work is to analyze the behavior of trading agents in a simple stock market in which benchmarks for risk exposure (in our case an index that estimates volatility) are manipulated. The idea comes from recent events: at the beginning of February 2018, large fluctuations of the Cboe Volatility Index (VIX), whose aim is to estimate the implied volatility of S&P500 stocks, caused a flash-crash in the US stock market.</p>
    <a class="project-link" href="https://github.com/ngozzi/vix">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ising" src="{{ "/assets/img/ising.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Ising Model Simulation</h3>
    <ul>
      <li>Montecarlo methods applied to a 2D Ising lattice</li>
    </ul>
    <p>The aim of this work is to analyze the behavior of trading agents in a simple stock market in which benchmarks for risk exposure (in our case an index that estimates volatility) are manipulated. The idea comes from recent events: at the beginning of February 2018, large fluctuations of the Cboe Volatility Index (VIX), whose aim is to estimate the implied volatility of S&P500 stocks, caused a flash-crash in the US stock market.</p>
    <a class="project-link" href="https://github.com/ngozzi/vix">Check it out</a>
  </div>
</div>
